<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!--引入vue3-->
    <script src="/static/vue/vue@3.4.21.global.js"></script>
    <!--引入vuetify@3.5.13，依赖vue3-->
    <script src="/static/naive-ui/naive-ui@2.38.1.js"></script>
    <!--axios http-->
    <script src="/static/config/axiosConfig.js" type="module"></script>
</head>
<body>
<div id="app">
    <n-space vertical>
<!--        <n-space> <n-switch v-model:value="inverted" />inverted</n-space>-->
        <n-layout has-sider>
            <n-layout-sider
                    bordered
                    collapse-mode="width"
                    :collapsed-width="64"
                    :width="240"
                    show-trigger
                    :inverted="inverted"
            >
                <n-menu
                        :inverted="inverted"
                        :collapsed-width="64"
                        :collapsed-icon-size="22"
                        :options="menuOptions"
                />
            </n-layout-sider>
            <n-layout>
                <span>内容</span>
            </n-layout>
        </n-layout>
    </n-space>
    <div><iframe name="content_frame"></iframe></div>
</div>
</body>
<script>
    const { createApp, ref, h } = Vue;
    const { NButton, NTag, NIcon, createDiscreteApi } = naive;
    const { message } = createDiscreteApi(['message']);

    function renderIcon(icon) {
        return () => h(NIcon, null, { default: () => h(icon) });
    }

    const menuOptions = [
        {
            label: () => h("a",
                {
                    href: "./user",
                    target: "content_frame",
                    rel: "noopenner noreferrer"
                },
                "用户管理"
            ),
            key: "user-manage"
            // icon: renderIcon(BookIcon)
        },
        {
            label: () => h("a",
                {
                    href: "./group",
                    target: "content_frame",
                    rel: "noopenner noreferrer"
                },
                "用户组管理"
            ),
            key: "group-manage"
            // icon: renderIcon(BookIcon)
        },
        {
            label: () => h("a",
                {
                    href: "./role",
                    target: "content_frame",
                    rel: "noopenner noreferrer"
                },
                "角色管理"
            ),
            key: "role-manage"
            // icon: renderIcon(BookIcon),
            // disabled: true
        },
        {
            label: () => h("a",
                {
                    href: "./authority",
                    target: "content_frame",
                    rel: "noopenner noreferrer"
                },
                "权限管理"
            ),
            key: "authority-manage"
            // disabled: true,
            // icon: renderIcon(BookIcon)
        }
    ];

    const app = createApp({
        setup() {
            // 入口函数
            // 配和 <n-message-provider/> 标签使用
            // const message = useMessage();
            return {
                inverted: ref(true),
                menuOptions
            };
        }
    }).use(naive).mount('#app');
</script>
</html>