<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d %highlight{%-5level}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %style{[%t]}{bright,magenta} %style{%c{1.}.%M(%L)}{cyan}: %msg%n</Property>
        <Property name="APP_NAME">@project.name@</Property>
        <Property name="APP_LOG_ROOT">@log.root@</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="appSystemLog"
                     fileName="${APP_LOG_ROOT}/${APP_NAME}/system.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}/system-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20480KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <RollingFile name="appServiceLog"
                     fileName="${APP_LOG_ROOT}/${APP_NAME}/app.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20480KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <RollingFile name="nettyAccessLog"
                     fileName="${APP_LOG_ROOT}/${APP_NAME}/netty_access.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}/netty_access-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20480KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <!--异步appender-->
        <Async name="AsyncAppender" includeLocation="true">
            <AppenderRef ref="nettyAccessLog"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

        <!-- Log4j 3.0将移除packages配置属性，导致不能使用包路径命名 Logger。启动时，看到报错信息：WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release -->
        <Logger name="org.lizhao.cloud.gateway" additivity="true" level="info">
            <AppenderRef ref="appServiceLog" />
        </Logger>

        <!-- Log4j 3.0将移除packages配置属性，导致不能使用包路径命名 Logger。启动时，看到报错信息：WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release -->
        <Logger name="org.lizhao.cloud.gateway.listener" additivity="true" level="info">
            <AppenderRef ref="appSystemLog" />
        </Logger>

        <!-- netty 访问日志 需要在启动时添加jvm参数 -Dreactor.netty.http.server.accessLogEnabled=true -->
        <Logger name="reactor.netty.http.server.AccessLog" includeLocation="true" level="info" additivity="false">
            <AppenderRef ref="AsyncAppender"/>
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>
