<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <!--通用js配置 axios http-->
    <th:block th:replace="~{template::commonJs}"></th:block>
    <!--mock test-->
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/Mock.js/1.0.0/mock-min.js"></script>-->
</head>
<body>
<div id="app">
    <n-config-provider :locale="zhCN" :date-locale="dateZhCN">
        <!--按钮-->
        <n-flex justify="space-between">
            <n-button
                    :loading = "loading"
                    @click="flushTable"
                    name="left-size"
                    type="info"
                    style="margin-bottom: 12px"
            >
                刷新
            </n-button>
            <n-button
                    @click="showAddModal"
                    name="left-size"
                    type="info"
                    fixed="right"
                    style="margin-bottom: 12px"
            >
                新增
            </n-button>
        </n-flex>
        <!--表格数据新增Modal-->
        <n-modal
                v-model:show="tableAddModal"
                preset="dialog"
                title="新增"
                :model="addingData"
        >
            <n-form :label-width="60"
                    label-placement="left"
            >
                <n-form-item label="名称" path="name">
                    <n-input v-model:value="addingData.name" placeholder="输入名称" />
                </n-form-item>
                <n-form-item label="备注" path="comment">
                    <n-input v-model:value="addingData.comment" type="textarea" round placeholder="备注" />
                </n-form-item>
                <n-flex justify="end">
                    <n-button type="success" attr-type="button" @click="saveTableData(addingData)">
                        保存
                    </n-button>
                </n-flex>
            </n-form>
        </n-modal>
        <!-- 表格数据修改Modal-->
        <n-modal style="max-width: 1000px;width:1000px;"
            v-model:show="tableEditModal"
            preset="dialog"
            title="修改">
            <n-form :label-width="80"
                label-placement="left"
                :model="editingData"
        >
            <n-form-item label="权限名称" path="name">
                <n-input v-model:value="editingData.name" placeholder="输入名称" />
            </n-form-item>
            <n-form-item label="状态" path="status">
                <n-radio-group
                        v-model:value="editingData.status"
                        name="left-size"
                        style="margin-bottom: 12px"
                >
                    <n-flex>
                        <n-radio :value="0">
                            初始
                        </n-radio>
                        <n-radio :value="1">
                            启用
                        </n-radio>
                        <n-radio :value="2">
                            停用
                        </n-radio>
                    </n-flex>
                </n-radio-group>
            </n-form-item>
            <n-form-item label="备注" path="comment">
                <n-input v-model:value="editingData.comment" type="textarea" round  placeholder="备注" />
            </n-form-item>
            <!--bound user-->
            <n-form-item label-placement="top">
                <div style="display: flex;flex-direction: row;width: 100%">
                    <div style="width: 33%;padding: 10px">
                        <base-table
                                name="已绑定用户"
                                :existed-columns="userAuthorityColumns"
                                :column-operation="userAuthorityColumnOperation"
                                :table-data-flush="usersBoundAuthority"
                                :search-options="usersUnboundAuthority"
                                :bind-to="bindAuthorityToUser"
                                source-title="未绑定的用户"
                                target-title="已绑定的用户"
                                :root-id="editingData.id"
                        ></base-table>
                    </div>
                    <div style="width: 33%;padding: 10px">
                        <base-table
                                name="已绑定组"
                                :existed-columns="groupAuthorityColumns"
                                :column-operation="groupAuthorityColumnOperation"
                                :table-data-flush="groupsBoundAuthority"
                                :search-options="groupsUnboundAuthority"
                                :bind-to="bindAuthorityToGroup"
                                source-title="未绑定的用户组"
                                target-title="已绑定的用户组"
                                :root-id="editingData.id"
                        ></base-table>
                    </div>
                    <div style="width: 33%;padding: 10px">
                        <base-table
                                name="已绑定角色"
                                :existed-columns="roleAuthorityColumns"
                                :column-operation="roleAuthorityColumnOperation"
                                :table-data-flush="rolesBoundAuthority"
                                :search-options="rolesUnboundAuthority"
                                :bind-to="bindAuthorityToRole"
                                source-title="未绑定的角色"
                                target-title="已绑定的角色"
                                :root-id="editingData.id"
                        ></base-table>
                    </div>
                </div>
            </n-form-item>
            <n-flex justify="flex-end">
                <n-button type="success" attr-type="button" @click="saveTableData(editingData)">
                    保存
                </n-button>
            </n-flex>
        </n-form>
        </n-modal>
        <!--表格-->
        <n-data-table
                :columns="columns"
                :data="tableData"
                :row-key="rowKey"
                default-expand-all
                style="text-align: center"
        />
    </n-config-provider>
</div>
</body>
<script>
    const { createApp, ref, h, defineComponent, reactive } = Vue;
    const { NButton, NTag, NIcon, createDiscreteApi, zhCN, dateZhCN } = naive;
    const { message } = createDiscreteApi(['message']);
    const { modal } = createDiscreteApi(['modal']);

    const tableColumns= [
        {
            title: '权限名称',
            key: 'name',
            width: '100px'
        },
        {
            title: '状态',
            key: 'status',
            render: row => {
                return h(
                    NTag, {
                        size: 'small',
                        type: row.status === 0 ? '' : (row.status === 1 ? 'success' : 'error'),
                        round: true
                    },
                    {default: () => row.status === 0 ? '新建' : (row.status === 1 ? '启用' : '停用')}
                );
            }
        },
        {
            title: '备注',
            key: 'comment',
            width: '150px'
        },
        {
            title: '创建人姓名',
            key: 'createUseName',
            width: '100px'
        },
        {
            title: '创建时间',
            key: 'createTime',
            width: '220px'
        },
        {
            title: '更新人姓名',
            key: 'updateUseName',
            width: '100px'
        },
        {
            title: '更新时间',
            key: 'updateTime',
            width: '220px'
        }
    ];

    const app = createApp({
        setup() {
            // 入口函数
            // 配和 <n-message-provider/> 标签使用
            // const message = useMessage();
            return {
                zhCN,
                dateZhCN,
                rowKey: (row) => row.id,
                tableAddModal: ref(false),
                addingData: ref({}),
                tableEditModal: ref(false),
                editingData: ref({}),
                authorityOptions: ref({})
            };
        },
        mounted() {
            window.onload = () => this.flushTable()
        },
        data() {
            return {
                loading: false,
                columns: createColumns({
                    operation: {
                        edit: {
                            buttonType: 'info',
                            buttonSize: 'tiny',
                            buttonName: '修改',
                            func: row => {
                                this.editingData = row;
                                this.tableEditModal = true;
                            }
                        },
                        remove: {
                            buttonType: 'error',
                            buttonSize: 'tiny',
                            buttonName: '删除',
                            func: row => this.removeTableData(row)
                        }
                    },
                    existedColumns: tableColumns
                }),
                tableData: [],
                tableAddModal: false
            }
        },
        methods: {
            flushTable() {
                this.loading = true;
                axios.get('/authority/searchAll')
                    .then(data => this.tableData = data)
                    .finally(() => this.loading = false);
            },
            showAddModal() {
                this.addingData = {};
                this.tableAddModal = true;
            },
            saveTableData(data) {
                axios.post('/authority/save', data)
                    .then(() => {
                        this.tableAddModal = false;
                        this.tableEditModal = false;
                        message.success('权限保存成功');
                    })
            },
            removeTableData(data) {
                axios.post('/authority/remove', data)
                    .then(() => message.success('移除权限成功'));
            },
            userAuthorityColumns() {
                return [
                    {
                        title: '用户名称',
                        key: 'userName'
                    },
                    {
                        title: '用户状态',
                        key: 'userStatus',
                        render: row => {
                            return h(
                                NTag, {
                                    size: 'small',
                                    type: row.userStatus === 0 ? '' : (row.userStatus === 1 ? 'success' : 'error'),
                                    round: true
                                },
                                {default: () => row.userStatus === 0 ? '初始' : (row.userStatus === 1 ? '有效' : '停用')}
                            )
                        }
                    }
                ];
            },
            userAuthorityColumnOperation() {
                return {
                    remove: {
                        buttonType: 'error',
                        buttonSize: 'tiny',
                        buttonName: '删除',
                        func: row => {
                            return axios.post('/authority/unbind/from/user', {
                                userId: row.userId,
                                authorityId: row.authorityId
                            }).then(() => {
                                message.success('用户权限移除成功');
                            });
                        }
                    }
                };
            },
            usersBoundAuthority(authorityId) {
                return axios.get('authority/searchBoundUser?authorityId=' + authorityId);
            },
            usersUnboundAuthority(authorityId) {
                return axios.get('authority/searchUnboundUser?authorityId=' + authorityId);
            },
            bindAuthorityToUser(data) {
                let authority = {
                    id: data.bindTo
                }
                let users = data.source.map(e => {
                    return {id: e}
                })
                let d = '{"' +
                    JSON.stringify(authority).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(users) +
                    '}';
                return axios.post('/authority/bind/to/user', d, {
                  headers: {
                      'Content-Type': 'application/json'
                  }
                }).then(() => message.success('用户权限绑定成功'))
            },
            groupAuthorityColumns() {
                return [
                        {
                            title: '用户组名称',
                            key: 'groupName'
                        },
                        {
                            title: '用户组状态',
                            key: 'groupStatus',
                            render: row => {
                                return h(
                                    NTag, {
                                        size: 'small',
                                        type: row.groupStatus === 0 ? '' : (row.groupStatus === 1 ? 'success' : 'error'),
                                        round: true
                                    },
                                    {default: () => row.groupStatus === 0 ? '初始' : (row.groupStatus === 1 ? '有效' : '停用')}
                                )
                            }
                        }
                    ];
            },
            groupAuthorityColumnOperation() {
                return {
                    remove: {
                        buttonType: 'error',
                        buttonSize: 'tiny',
                        buttonName: '删除',
                        func: row => {
                            return axios.post('/authority/unbind/from/group', {
                                groupId: row.groupId,
                                authorityId: row.authorityId
                            }).then(() => message.success('权限与组解绑成功'))
                        }
                    }
                };
            },
            groupsBoundAuthority(authorityId) {
                return axios.get('authority/searchBoundGroup?authorityId=' + authorityId);
            },
            groupsUnboundAuthority(authorityId) {
                return axios.get('authority/searchUnboundGroup?authorityId=' + authorityId);
            },
            bindAuthorityToGroup(data) {
                let authority = {
                    id: data.bindTo
                }
                let groups = data.source.map(e => {
                    return {id: e}
                })
                let d = '{"' +
                    JSON.stringify(authority).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(groups) +
                    '}';
                return axios.post('/authority/bind/to/group', d, {
                  headers: {
                      'Content-Type': 'application/json'
                  }
                }).then(() => message.success('用户组权限绑定成功'))
            },
            roleAuthorityColumns() {
                return  [
                            {
                                title: '角色名称',
                                key: 'roleName'
                            },
                            {
                                title: '角色状态',
                                key: 'roleStatus',
                                render: row => {
                                    return h(
                                        NTag, {
                                            size: 'small',
                                            type: row.roleStatus === 0 ? '' : (row.roleStatus === 1 ? 'success' : 'error'),
                                            round: true
                                        },
                                        {default: () => row.roleStatus === 0 ? '初始' : (row.roleStatus === 1 ? '有效' : '停用')}
                                    )
                                }
                            }
                ];
            },
            roleAuthorityColumnOperation() {
                return {
                    remove: {
                        buttonType: 'error',
                        buttonSize: 'tiny',
                        buttonName: '删除',
                        func: row => {
                            return axios.post('/authority/unbind/from/role', {
                                roleId: row.roleId,
                                authorityId: row.authorityId
                            }).then(() => message.success('权限与角色解绑成功'))
                        }
                    }
                };
            },
            rolesBoundAuthority(authorityId) {
                return axios.get('authority/searchBoundRole?authorityId=' + authorityId);
            },
            rolesUnboundAuthority(authorityId) {
                return axios.get('authority/searchUnboundRole?authorityId=' + authorityId);
            },
            bindAuthorityToRole(data) {
                let authority = {
                    id: data.bindTo
                }
                let roles = data.source.map(e => {
                    return {id: e}
                })
                let d = '{"' +
                    JSON.stringify(authority).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(roles) +
                    '}';
                return axios.post('/authority/bind/to/role', d, {
                  headers: {
                      'Content-Type': 'application/json'
                  }
                }).then(() => message.success('角色权限绑定成功'))
            },
        }
    });
    app.use(naive);
    //注册 自定义组件
    app.component("BaseTable", baseTable)
    app.mount('#app');
</script>
<style>
    body{
        padding: 10px;
    }
</style>
</html>