<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户组管理</title>
    <!--通用js配置 axios http-->
    <th:block th:replace="~{template::commonJs}"></th:block>
</head>
<body>
<div id="app">
    <n-config-provider :locale="zhCN" :date-locale="dateZhCN">
        <!--按钮-->
        <n-flex justify="space-between">
            <n-button
                    :loading = "loading"
                    @click="flushTable"
                    name="left-size"
                    type="info"
                    style="margin-bottom: 12px"
            >
                刷新
            </n-button>
            <n-button
                    @click="showAddModal"
                    name="left-size"
                    type="info"
                    fixed="right"
                    style="margin-bottom: 12px"
            >
                新增
            </n-button>
        </n-flex>
        <!--表格数据新增Modal-->
        <n-modal
                v-model:show="tableAddModal"
                preset="dialog"
                title="新增"
                :model="addingData"
        >
            <n-form :label-width="100"
                    label-placement="left"
            >
                <n-form-item label="用户组名称" path="name">
                    <n-input v-model:value="addingData.name" placeholder="输入用户名称" />
                </n-form-item>
                <n-form-item label="父级用户组" path="parentId">
                    <n-tree-select
                            label-field="name"
                            key-field="id"
                            :options="groupOptions"
                            v-model:value="addingData.parentId"
                    />
                </n-form-item>
                <n-form-item label="备注" path="comment">
                    <n-input v-model:value="addingData.comment" type="textarea" round  placeholder="备注" />
                </n-form-item>
                <n-flex justify="end">
                    <n-button type="success" attr-type="button" @click="saveTableData(addingData)">
                        保存
                    </n-button>
                </n-flex>
            </n-form>
        </n-modal>
        <!-- 表格数据修改Modal-->
        <n-modal
                v-model:show="tableEditModal"
                preset="dialog"
                title="修改">
            <n-form :label-width="100"
                    label-placement="left"
                    :model="editingData"
            >
                <n-form-item label="用户组名称" path="name">
                    <n-input v-model:value="editingData.name" placeholder="输入用户名称" />
                </n-form-item>
                <n-form-item label="父级用户组" path="parentId">
                    <n-tree-select
                            label-field="name"
                            key-field="id"
                            :options="groupOptions"
                            v-model:value="editingData.parentId"
                    />
                </n-form-item>
                <n-form-item label="备注" path="comment">
                    <n-input v-model:value="editingData.comment" type="textarea" round placeholder="备注" />
                </n-form-item>
                <n-form-item>
                    <base-table
                            name="已绑定用户"
                            :existed-columns="userGroupColumns"
                            :column-operation="userGroupColumnOperation"
                            :table-data-flush="usersBoundGroup"
                            :search-options="usersUnboundGroup"
                            :bind-to="bindUserToGroup"
                            source-title="未绑定的用户"
                            target-title="已绑定的用户"
                            :root-id="editingData.id"
                    ></base-table>
                </n-form-item>
                <n-flex justify="flex-end">
                    <n-button type="success" attr-type="button" @click="saveTableData(editingData)">
                        保存
                    </n-button>
                </n-flex>
            </n-form>
        </n-modal>
        <!--表格-->
        <n-data-table
                :columns="columns"
                :data="tableData"
                :row-key="rowKey"
                default-expand-all
                style="text-align: center"
        />
    </n-config-provider>
</div>
</body>
<script>
    const { createApp, ref, h, defineComponent, reactive } = Vue;
    const { NInput, NButton, NTag, NIcon, createDiscreteApi, zhCN, dateZhCN } = naive;
    const { message } = createDiscreteApi(['message']);
    const { modal } = createDiscreteApi(['modal']);

    const tableColumns= [
        {
            title: '用户组名称',
            key: 'name'
        },
        {
            title: '状态',
            key: 'status',
            render: row => {
                return h(
                    NTag, {
                        size: 'small',
                        type: row.status === 0 ? '' : (row.status === 1 ? 'success' : 'error'),
                        round: true
                    },
                    {default: () => row.status === 0 ? '新建' : (row.status === 1 ? '启用' : '停用')}
                );
            }
        },
        {
            title: '备注',
            key: 'comment'
        },
        {
            title: '创建人姓名',
            key: 'createUseName',
            width: '100px'
        },
        {
            title: '创建时间',
            key: 'createTime',
            width: '220px'
        },
        {
            title: '更新人姓名',
            key: 'updateUseName',
            width: '100px'
        },
        {
            title: '更新时间',
            key: 'updateTime',
            width: '220px'
        }
    ];

    const app = createApp({
        setup() {
            // 入口函数
            // 配和 <n-message-provider/> 标签使用
            // const message = useMessage();
            return {
                zhCN,
                dateZhCN,
                rowKey: (row) => row.id,
                loading: ref(false),
                tableData: ref([]),
                tableAddModal: ref(false),
                addingData: ref({}),
                tableEditModal: ref(false),
                editingData: ref({}),
                groupOptions: ref({})
            };
        },
        mounted() {
            window.onload = () => this.flushTable()
        },
        data() {
            return {
                columns: createColumns({
                    operation: {
                        edit: {
                            buttonSize: 'tiny',
                            buttonType: 'info',
                            buttonName: '修改',
                            func: row => {
                                this.editingData = row;
                                this.searchGroupOptions()
                                    .then(() => this.tableEditModal = true)
                            }
                        } ,
                        remove: {
                            buttonSize: 'tiny',
                            buttonType: 'error',
                            buttonName: '删除',
                            func: row => this.removeTableData(row)
                        }
                    },
                    existedColumns: tableColumns
                }),
            }
        },
        methods: {
            searchGroupOptions() {
                return axios.get('/group/searchTree')
                    .then(data => this.groupOptions = data)
            },
            flushTable() {
                this.loading = true;
                axios.get('/group/searchTree')
                    .then(data => this.tableData = data)
                    .finally(() => this.loading = false);
            },
            showAddModal() {
                this.searchGroupOptions().then(() => {
                    this.addingData = {};
                    this.tableAddModal = true;
                })
            },
            saveTableData(data) {
                axios.post('/group/save', data)
                    .then(() => {
                        this.flushTable();
                        this.tableAddModal = false;
                        this.tableEditModal = false;
                        message.success('用户组保存成功');
                    }).catch(err => message.error('用户保存失败'))
            },
            removeTableData(data) {
                axios.post('/group/remove', data)
                    .then(() => {
                        this.flushTable();
                        message.success('删除用户组成功');
                    }).catch(err => message.error('删除用户组失败'));
            },
            userGroupColumns() {
                return [
                    {
                        title: '用户名称',
                        key: 'userName'
                    },
                    {
                        title: '用户状态',
                        key: 'userStatus',
                        render: row => {
                            return h(
                                NTag, {
                                    size: 'small',
                                    type: row.userStatus === 0 ? '' : (row.userStatus === 1 ? 'success' : 'error'),
                                    round: true
                                },
                                {default: () => row.userStatus === 0 ? '初始' : (row.userStatus === 1 ? '有效' : '停用')}
                            )
                        }
                    }
                ];
            },
            userGroupColumnOperation() {
                return {
                    remove: {
                        buttonSize: 'tiny',
                        buttonType: 'error',
                        buttonName: '删除',
                        func: row => {
                            return axios.post('/user/unbind/from/group', {
                                groupId: row.groupId,
                                userId: row.userId
                            }).then(() => {
                                message.success('用户从组中移除成功');
                            }).catch(err => {
                                message.error('用户从组中移除失败');
                                return Promise.reject(err);
                            });
                        }
                    }
                }
            },
            usersBoundGroup(groupId) {
                return axios.get('/group/searchBoundUsers?groupId=' + groupId);
            },
            usersUnboundGroup(groupId) {
                return axios.get('/group/searchUnboundUsers?groupId=' + groupId);
            },
            bindUserToGroup(data) {
                let group = {
                    id: data.bindTo
                }
                let users = data.source.map(e => {
                    return {id: e}
                })
                let jsons = '{"' +
                    JSON.stringify(group).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(users) +
                    '}';
                return axios.post('/user/bind/to/group', jsons, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(() => message.success('用户组绑定成功'))
                    .catch(() => {
                        message.error('用户组绑定失败');
                        return Promise.reject();
                    })
            }
        }
    }).use(naive);
    app.component("BaseTable", baseTable);
    app.mount('#app');
</script>
<style>
    body{
        padding: 10px;
    }
</style>
</html>