<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <!--通用js配置 axios http-->
    <th:block th:replace="template::commonJs"></th:block>
</head>
<body>
<div id="app">
    <n-config-provider :locale="zhCN" :date-locale="dateZhCN">
        <!--按钮-->
        <n-flex justify="space-between">
            <n-button
                    :loading = "loading"
                    @click="flushTable"
                    name="left-size"
                    type="info"
                    style="margin-bottom: 12px"
            >
                刷新
            </n-button>
            <n-button
                    @click="showAddModal"
                    name="left-size"
                    type="info"
                    fixed="right"
                    style="margin-bottom: 12px"
            >
                新增
            </n-button>
        </n-flex>
        <!--表格数据新增Modal-->
        <n-modal
                v-model:show="tableAddModal"
                preset="dialog"
                title="新增"
                :model="addingData"
        >
            <n-form :label-width="100"
                    label-placement="left"
            >
                <n-form-item label="角色名称" path="name">
                    <n-input v-model:value="addingData.name" placeholder="输入角色名称" />
                </n-form-item>
                <n-form-item label="父级角色" path="parentId">
                    <n-tree-select
                            label-field="name"
                            key-field="id"
                            :options="roleOptions"
                            :value="addingData.parentId"
                    />
                </n-form-item>
                <n-form-item label="备注" path="comment">
                    <n-input v-model:value="addingData.comment" type="textarea" round  placeholder="备注" />
                </n-form-item>
                <n-flex justify="end">
                    <n-button type="success" attr-type="button" @click="saveTableData(addingData)">
                        保存
                    </n-button>
                </n-flex>
            </n-form>
        </n-modal>
        <!-- 表格数据修改Modal-->
        <n-modal
                style="min-width: 1000px"
                v-model:show="tableEditModal"
                preset="dialog"
                title="修改">
            <n-form :label-width="100"
                    label-placement="left"
                    v-model:model="editingData"
            >
                <n-form-item label="角色名称" path="name">
                    <n-input v-model:value="editingData.name" placeholder="输入角色名称" />
                </n-form-item>
                <n-form-item label="父级角色" path="parentId">
                    <n-tree-select
                            label-field="name"
                            key-field="id"
                            :options="roleOptions"
                            v-model:value="editingData.parentId"
                    />
                </n-form-item>
                <n-form-item label="备注" path="comment">
                    <n-input v-model:value="editingData.comment" type="textarea" round placeholder="备注" />
                </n-form-item>
                <n-form-item>
                    <div style="width:100%;display: flex">
                        <div style="width: 50%;padding:10px;">
                            <base-table
                                    name="已绑定用户"
                                    :existed-columns="userRoleColumns"
                                    :column-operation="userRoleColumnOperation"
                                    :table-data-flush="usersBoundRole"
                                    :search-options="usersUnboundRole"
                                    :bind-to="bindRoleToUser"
                                    source-title="未绑定的用户"
                                    target-title="已绑定的用户"
                                    :root-id="editingData.id"
                            ></base-table>
                        </div>
                        <div style="width: 50%;padding:10px;">
                            <base-table
                                    name="已绑定组"
                                    :existed-columns="groupRoleColumns"
                                    :column-operation="groupRoleColumnOperation"
                                    :table-data-flush="groupsBoundRole"
                                    :search-options="groupsUnboundRole"
                                    :bind-to="bindRoleToGroup"
                                    source-title="未绑定的组"
                                    target-title="已绑定的组"
                                    :root-id="editingData.id"
                            ></base-table>
                        </div>
                    </div>
                </n-form-item>
                <n-flex justify="flex-end">
                    <n-button type="success" attr-type="button" @click="saveTableData(editingData)">
                        保存
                    </n-button>
                </n-flex>
            </n-form>
        </n-modal>
        <!--表格-->
        <n-data-table
                :columns="columns"
                :data="tableData"
                :row-key="rowKey"
                default-expand-all
                style="text-align: center"
        />
    </n-config-provider>
</div>
</body>
<script>
    const { createApp, ref, h, defineComponent, reactive } = Vue;
    const { NInput, NButton, NTag, NIcon, createDiscreteApi, zhCN, dateZhCN } = naive;
    const { message } = createDiscreteApi(['message']);
    const { modal } = createDiscreteApi(['modal']);

    const tableColumns= [
        {
            title: '角色名称',
            key: 'name'
        },
        {
            title: '状态',
            key: 'status',
            render: row => {
                return h(
                    NTag, {
                        size: 'small',
                        type: row.status === 0 ? '' : (row.status === 1 ? 'success' : 'error'),
                        round: true
                    },
                    {default: () => row.status === 0 ? '新建' : (row.status === 1 ? '启用' : '停用')}
                );
            }
        },
        {
            title: '备注',
            key: 'comment'
        },
        {
            title: '创建人姓名',
            key: 'createUseName',
            width: '100px'
        },
        {
            title: '创建时间',
            key: 'createTime',
            width: '220px'
        },
        {
            title: '更新人姓名',
            key: 'updateUseName',
            width: '100px'
        },
        {
            title: '更新时间',
            key: 'updateTime',
            width: '220px'
        }
    ];

    const app = createApp({
        setup() {
            // 入口函数
            // 配和 <n-message-provider/> 标签使用
            // const message = useMessage();
            return {
                zhCN,
                dateZhCN,
                rowKey: (row) => row.id,
                loading: ref(false),
                tableData: ref([]),
                tableAddModal: ref(false),
                addingData: ref({}),
                tableEditModal: ref(false),
                editingData: ref({}),
                roleOptions: ref({})
            };
        },
        mounted() {
            window.onload = () => this.flushTable();
        },
        data() {
            return {
                columns: createColumns({
                    operation: {
                        edit: {
                            buttonType: 'info',
                            buttonSize: 'tiny',
                            buttonName: '修改',
                            func: row => {
                                this.editingData = row;
                                this.searchRoleOptions()
                                    .then(() => this.tableEditModal = true);
                            }
                        } ,
                        remove: {
                            buttonType: 'error',
                            buttonSize: 'tiny',
                            buttonName: '删除',
                            func: row => this.removeTableData(row)
                        }
                    },
                    existedColumns: tableColumns
                }),
            }
        },
        methods: {
            searchRoleOptions() {
                return axios.get('/role/searchTree')
                    .then(data => this.roleOptions = data)
            },
            flushTable() {
                this.loading = true;
                axios.get('/role/searchTree')
                    .then(data => this.tableData = data)
                    .finally(() => this.loading = false);
            },
            showAddModal() {
                this.searchRoleOptions().then(() => {
                    this.addingData = {};
                    this.tableAddModal = true;
                });
            },
            saveTableData(data) {
                axios.post('/role/save', data)
                    .then(() => {
                        this.flushTable();
                        this.tableAddModal = false;
                        this.tableEditModal = false;
                        message.success('用户组保存成功');
                    })
            },
            removeTableData(data) {
                axios.post('/role/remove', data)
                    .then(() => {
                        this.flushTable();
                        message.success('删除用户组成功');
                    });
            },
            userRoleColumns() {
                return [
                    {
                        title: '用户名称',
                        key: 'userName'
                    },
                    {
                        title: '用户状态',
                        key: 'userStatus',
                        render: row => {
                            return h(
                                NTag, {
                                    size: 'small',
                                    type: row.userStatus === 0 ? '' : (row.userStatus === 1 ? 'success' : 'error'),
                                    round: true
                                },
                                {default: () => row.userStatus === 0 ? '初始' : (row.userStatus === 1 ? '有效' : '停用')}
                            )
                        }
                    }
                ];
            },
            userRoleColumnOperation() {
                return {
                    remove(row) {
                        return axios.post('/role/unbind/from/user', {
                            userId: row.userId,
                            roleId: row.roleId
                        }).then(() => {
                            message.success('用户移除成功');
                        }).catch(err => {
                            message.error('用户移除失败');
                            return Promise.reject();
                        });
                    }
                };
            },
            usersBoundRole(roleId) {
                return axios.get('role/searchBoundUsers?roleId=' + roleId);
            },
            usersUnboundRole(roleId) {
                return axios.get('role/searchUnboundUsers?roleId=' + roleId);
            },
            bindRoleToUser(data) {
                let role = {
                    id: data.bindTo
                }
                let users = data.source.map(e => {
                    return {id: e}
                })
                let d = '{"' +
                    JSON.stringify(role).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(users) +
                    '}';
                return axios.post('/role/bind/to/user', d, {
                  headers: {
                      'Content-Type': 'application/json'
                  }
                }).then(() => message.success('角色绑定成功'))
            },
            groupRoleColumns() {
                return [
                    {
                        title: '用户组名称',
                        key: 'groupName'
                    },
                    {
                        title: '用户组状态',
                        key: 'groupStatus',
                        render: row => {
                            return h(
                                NTag, {
                                    size: 'small',
                                    type: row.groupStatus === 0 ? '' : (row.groupStatus === 1 ? 'success' : 'error'),
                                    round: true
                                },
                                {default: () => row.groupStatus === 0 ? '初始' : (row.groupStatus === 1 ? '有效' : '停用')}
                            )
                        }
                    }
                ];
            },
            groupRoleColumnOperation() {
                return {
                    remove(row) {
                        return axios.post('/role/unbind/from/group', {
                            groupId: row.groupId,
                            roleId: row.roleId
                        }).then(() => {
                            message.success('用户角色解绑成功');
                        }).catch(err => {
                            message.error('用户角色解绑失败');
                            return Promise.reject();
                        });
                    }
                };
            },
            groupsBoundRole(roleId) {
                return axios.get('/role/searchBoundGroups?roleId=' + roleId);
            },
            groupsUnboundRole(roleId) {
                return axios.get('/role/searchUnboundGroups?roleId=' + roleId);
            },
            bindRoleToGroup(data) {
                let role = {
                    id: data.bindTo
                }
                let groups = data.source.map(e => {
                    return {id: e}
                })
                let d = '{"' +
                    JSON.stringify(role).replaceAll('"', '\\"') +
                    '":' +
                    JSON.stringify(groups) +
                    '}';
                return axios.post('/role/bind/to/group', d, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(() => message.success('角色绑定成功'))
            },
        }
    }).use(naive);
    app.component("BaseTable", baseTable);
    app.mount('#app');
</script>
<style>
    body{
        padding: 10px;
    }
</style>
</html>